<!DOCTYPE html>
<html lang="en" ng-app="BookApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body ng-controller="BookCtrl as bookCtrl">
    <form name="formSearch"
        ng-submit="bookCtrl.search()"
        novalidate>
        <input type="text"
        name="searchInput"    
        ng-model="bookCtrl.searchStr"
            required />
        <button type="submit"
        ng-disabled="formSearch.$invalid">Search</button>
    </form>
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="/libs/x2js/xml2json.min.js"></script> 
    <script src="/libs/angular-xml/angular-xml.min.js"></script>
    <script src="index.js"></script>
</body>
</html>